* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background: rebeccapurple; */
}


.nav__menu {
    display: flex;
    gap: 8px;
    margin-left: 129px;
    align-items: center;
}

.nav_menu {
    display: flex;
}

.list__item {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #282828;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    width: 100%;
    padding: 5px 12px;
    transition: .5s;
}

.link:hover {
    border-bottom: 3px solid #282828;
    color: #282828;
}


.search__input {
    width: 80px;
    height: 30px;
    padding-left: 15px;
    border: none;
    transition: .5s;
    border-radius: 10px;
    outline: none;
}

.search__input:active {
    border: 1.5px solid rgb(0, 255, 0);
}

.search__input:hover {
    box-shadow: 0px 2px 10px rgba(2, 1, 1, 0.542);
}

.search__btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.search__btn:hover {
    background: #000;
    color: white;
    box-shadow: 0px 5px 10px rgba(2, 1, 1, 0.542);
}

.search {
    display: flex;
    gap: 8px;
}

.user__icon {
    color: #000000;
}


.user__btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.user__btn:hover {
    background: #000;
    color: white;
    box-shadow: 0px 5px 10px rgba(2, 1, 1, 0.542);
}

a {
    color: #000;
}

.user__btn:hover a {
    color: #fff;
    transition: .5s;
}


.user__btn:hover .user__icon {
    color: #F4F4F4;
}


.shop__btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.shop__btn:hover {
    background: #000;
    color: white;
    box-shadow: 0px 5px 10px rgba(2, 1, 1, 0.542);
}

.icon__menu {
    display: flex;
    gap: 38px;
    align-items: center;
    margin-left: 139px;
}


.navbar {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}



/* ========================  section ================== */

.tea__bg {
    background: url('./images/Tea_bg.jpg');
    height: 308px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 32px;
}

.home__title {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
    margin-top: 33px;
}

.them__title {
    color: var(--primary-primary, #282828);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15px;
    width: 142px;
}

.line {
    width: 216px;
    height: 1px;
    background: #A0A0A0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.them1 {
    display: flex;
    gap: 50px;
}

.thems {
    cursor: pointer;
}

.sort__title {
    color: var(--primary-primary, #282828);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.sort {
    display: flex;
    gap: 7px;
}

.teas {
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
    color: #fff;
    background: #282828;
}

.card1 {
    width: 264px;
    height: 354px;
    margin-top: 40px;
}

.tea1 {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 30px 16px;
}

.tea1__title {
    width: 174px;
    color: var(--primary-primary, #282828);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 15px;
    margin-bottom: 9px;
}

.tea1-title {
    display: flex;
    justify-content: center;
}


span {
    color: var(--primary-primary, #282828);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.tea1__narx {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 840px;
    cursor: pointer;
}

.thems__cards{
    display: flex;
    gap: 72px;
    margin-top: 78px;
}

.home__thems__cards{

    display: flex;
    justify-content: center;
}



/* ================ nav ============= */


.nav_bg {
    height: 360px;
    background: var(--background-variant-1, #F4F4F4);
    margin-top: 72px;
}


.different_teas {
    color: var(--primary-primary, #282828);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}


.link2 {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-decoration: none;
    padding-top: 9px;
}


.link3 {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-decoration: none;
    padding-top: 9px;
}

.link4 {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    text-decoration: none;
    padding-top: 9px;
}



.links {
    margin-top: 20px;
}

.links4 {
    margin-top: 20px;
}


.location_btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: transparent;
    transition: .5s;
    margin-top: 2px;
    border: 1px solid #000;
}

.location_btn:hover {
    color: #fff;
    background: #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.16),
        0 8px 8px rgba(0, 0, 0, 0.20);
}


.email_btn {
    border: 1px solid #000;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: transparent;
    transition: .5s;
}

.email_btn:hover {
    color: #fff;
    background: #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.16),
        0 8px 8px rgba(0, 0, 0, 0.20);
}


.phone_btn {
    border: 1px solid #000;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: transparent;
    transition: .5s;
}

.phone_btn:hover {
    color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.16),
        0 8px 8px rgba(0, 0, 0, 0.20);
    background: #000;
}

.location {
    display: flex;
    gap: 8px;
}

.email {
    margin-top: 5px;
    display: flex;
    gap: 8px;
}

.phone {
    margin-top: 7px;
    display: flex;
    gap: 8px;
}

.locat_title {
    width: 240px;
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.email_title {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-top: 8px;
}

.phone_title {
    color: var(--primary-primary, #282828);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-top: 8px;
}

li {
    list-style: none;
}

.all_links {
    display: flex;
    /* width: 1280px; */
    justify-content: space-around;
    padding-top: 50px;
}











@media (max-width:500px){


    .brand_logo {
        display: flex;
        justify-content: center;
    }

    .nav__menu {
        display: block;
        text-align: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
    }

    .nav_menu {
        display: flex;
        justify-content: center;
    }

    .list__item {
        margin-top: 10px;
    }

    .icon__menu {
        margin-left: 70px;
        margin-top: 20px;
    }

    .navbar {
        display: block;
    }

    .search__btn {
        border: 1px solid #000;
    }

    .user__btn {
        border: 1px solid #000;
    }

    .shop__btn {
        border: 1px solid #000;
    }



    /* =====================  section ================== */

    .thems__cards{
        display: block;
        gap: 72px;
        margin-top: 78px;
    }


    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 264px;
        cursor: pointer;
    }

    .them__title {
        color: var(--primary-primary, #282828);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15px;
        width: 142px;
    }
    
    .line {
        width: 210px;
        height: 1px;
        background: #A0A0A0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    /* ===============  nav =============== */


    .all_links {
        display: block;
        padding-top: 40px;
    }

    .nav_bg {
        height: 850px;
    }

    .dropdown {
        text-align: center;
        padding-top: 40px;
    }

    .dropdown2 {
        text-align: center;
        padding-top: 40px;
    }

    .dropdown3 {
        text-align: center;
        padding-top: 40px;
    }

    .dropdown4 {
        text-align: center;
        padding-top: 40px;
        margin-left: 40px;
    }

    .links4 {
        margin-left: 40px;
    }

}